
.Grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
       
}
.Busqueda 
{
    grid-column: 1 /7; 
    background-color: #f0f0f0; /* Fondo para que se vea mejor */
    padding: 10px;
    text-align: right;
    
}
.Busqueda input
{
    width: 400px;
    padding: 2px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 8px;
    
}
.contenedor-generos 
{
    grid-column: 1/7;
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .grid-generos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .genero {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0.75rem;
    border-radius: 8px;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  .genero a{
    
    text-decoration: none;
    color: black;
  }
  .genero:hover {
    transform: translateY(-5px);
    background-color: #ffe6f0;
  }

/* Reglas para pantallas de un ancho maximo*/
@media only screen and (max-width: 1000px)
{
 
    .Popular 
    {
       
        gap: 10px;
        overflow-y:scroll;
        overflow-x: hidden;
    }
    
    .Popular img 
    {
        width: 200px;
        height: 270px;
    }
    .Popular p 
    {
        font-size: 16px;
        font-weight: bold;
        margin: 2px auto;
        text-align: center;
    }
    .promo-barra 
    {
        font-size: 14px;
    }
    .Grid
    {
        grid-template-columns: 1fr 7fr;
    }
    .Busqueda input
    {
        font-size: 22px;
    }
    .Busqueda 
    {
        grid-column: 1 /7; 
    }
    .genero a
    {
        font-size: 18px;
        text-decoration: none;
        color: black;
    }
}